<!DOCTYPE html>
<html lang="id">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Pertanian</title>
        <!-- CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #c2def2;">
            <a class="navbar-brand" href="<%= url %>">Pertanian</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="<%= url %>">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url %>pupuk">Pupuk</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<%= url %>bibit">Bibit</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="mt-4 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Selamat Datang Di Website Pendataan Pertanian UMY<b>
                    </div>
                </div>
            </div>
        </section>
        <img src="https://desacandirejo-semin.gunungkidulkab.go.id/assets/files/artikel/sedang_16460427285e29921146d88.jpg">
        <style>
            body,
            html {
                font-family: 'Times New Roman', Times, serif, sans-serif !important;
                height: 100%;
            }
            img{
                border-radius: 100px;
                width:500px;
                height:200px;
                padding-left: 1rem;
            }
        </style>
    </body>
</html>